{# empty Twig template #}

{# Ce template n'hérite de personne, tout comme le template inclus avec {{ include() }}. #}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Peloton</th>
            <th>Archer</th>
            <th>Total</th>
            <th>10</th>
            <th>9</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
    {% if tournament is not defined %}
        {% for participant in peloton.participants %} 
        <tr>
            <td>{{ peloton.startTime|date('d/m/Y H:i') }}</td>
            <td><a href="{{ path('archer_view', {'slug': participant.participant.slug }) }}">{{ participant.participant.fullName }}</a></td>
            <td>{{ participant.point }}</td>
            <td>{{ participant.ten }}</td>
            <td>{{ participant.nine }}</td>
            <td><a href="{{ path('participant_edit', {'id': participant.id }) }}">edit</a></td>
        </tr>
        {% endfor %}  
    {% else %}
        {% for peloton in tournament.pelotons %} 
        {% for participant in peloton.participants %} 
        <tr>
            <td>{{ peloton.startTime|date('d/m/Y H:i') }}</td>
            <td>{{ participant.participant.fullName }}</td>
            <td>{{ participant.point }}</td>
            <td>{{ participant.ten }}</td>
            <td>{{ participant.nine }}</td>
            <td>edit</td>
        </tr>
        {% endfor %}  
        {% endfor %}   
    {% endif %}
    </tbody>  
</table>