{% extends "TournamentBundle::layout.html.twig" %}

{% block title %}Compétitions - {{ parent() }}{% endblock %}

{% block tournament_content %}
    <h3>Liste des compétitions</h3>
    <ul>
        {% for tournament in tournaments %}
        <li>            
            <a href="{{ path('tournament_view', {'id': tournament.id}) }}">
            {% if tournament.organisateur is not null %}
            {{ tournament.organisateur.name }}
            {% endif %}            
            </a> Le {{ tournament.dateStart|date('d/m/Y') }} au {{ tournament.dateEnd|date('d/m/Y') }}
        </li>
        {% endfor %}
    </ul>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary" href="{{ path('tournament_add') }}">Youhou t'es admin</a>
    {% endif %}
{% endblock %}