{% extends "TournamentBundle::layout.html.twig" %}

{% block title %} - {{ parent() }}{% endblock %}

{% block tournament_content %}    
    <h3>{{ tournament.dateStart|date('d/m/Y') }}</h3>
    
    <h3>
    Pelotons
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary" href="{{ path('peloton_add', {'id': tournament.id}) }}">Ajouter un peloton</a>
    {% endif %}
    </h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Date</th>
                <th>Nbre Inscrit</th>
                <th>Nbre Place</th>
            </tr>
        </thead>
        <tbody>
            {% for peloton in tournament.pelotons %}
            <tr>
                <td>{{ peloton.type }}</td>
                <td><a href="{{ path('peloton_view', {'id': peloton.id}) }}">{{ peloton.startTime|date('d/m/Y H:i') }}</a></td>                
                <td>{{ peloton.participants|length }}</td>
                <td>{{ peloton.maxParticipant }}</td>
            </tr>
            {% endfor %}   
        </tbody>  
    </table>
        
    <section class="row">
        <div class="col-lg-12">            
            <h3>
            Liste des participants
            </h3>
            {{ include("TournamentBundle:Participant:tablePoints.html.twig") }}
        </div>
    </section>
{% endblock %}
